@model IEnumerable<BigShope.Models.CartItem>
@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <div class="account_grid">
        <h3>CHECKOUT</h3>
        
        <div class="row">
            <div class="col-md-6">
                <h4>Order Summary</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal total = 0;
                        }
                        @foreach (var item in Model)
                        {
                            var price = item.Product?.PromotionalPrice ?? item.Product?.Price ?? 0;
                            var subtotal = price * item.Quantity;
                            total += subtotal;
                            
                            <tr>
                                <td>@item.Product?.Name</td>
                                <td>@item.Quantity</td>
                                <td>Rs. @subtotal.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"><strong>Total:</strong></td>
                            <td><strong>Rs. @total.ToString("F2")</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <div class="col-md-6">
                <h4>Shipping Information</h4>
                <form method="post" asp-action="PlaceOrder">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Customer Name<span class="text-danger">*</span></label>
                        <input type="text" name="customerName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Shipping Address<span class="text-danger">*</span></label>
                        <textarea name="shippingAddress" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone Number<span class="text-danger">*</span></label>
                        <input type="tel" name="phoneNumber" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Place Order</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to Cart</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Categories Sidebar -->
    <div class="sub-cate">
        <div class=" top-nav rsidebar span_1_of_left">
            <h3 class="cate">CATEGORIES</h3>
            <ul class="menu">
                <li class="item1"><a href="#">Curabitur sapien<img class="arrow-img" src="~/images/arrow1.png" alt=""/> </a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item2"><a href="#">Dignissim purus <img class="arrow-img " src="~/images/arrow1.png" alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item3"><a href="#">Ultrices id du<img class="arrow-img img-arrow" src="~/images/arrow1.png" alt=""/> </a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails</a></li>
                    </ul>
                </li>
                <li class="item4"><a href="#">Cras iacaus rhone <img class="arrow-img img-left-arrow" src="~/images/arrow1.png" alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li>
                    <ul class="kid-menu">
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>
                    </ul>
                </li>
                <ul class="kid-menu">
                    <li><a href="#">Commodo sit</a></li>
                    <li><a href="#">Urna ac tortor sc</a></li>
                    <li><a href="#">Ornared id aliquet</a></li>
                    <li><a href="#">Urna ac tortor sc</a></li>
                    <li><a href="#">Eget nisi laoreet</a></li>
                    <li><a href="#">Faciisis ornare</a></li>
                    <li class="menu-kid-left"><a href="#">Contact us</a></li>
                </ul>
            </ul>
        </div>
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function() {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function(e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });
            });
        </script>
        <div class="chain-grid menu-chain">
            <a href="#"><img class="img-responsive chain" src="~/images/wat.jpg" alt=" " /></a>
            <div class="grid-chain-bottom chain-watch">
                <span class="actual dolor-left-grid">300$</span>
                <span class="reducedfrom">500$</span>
                <h6><a href="#">Lorem ipsum dolor</a></h6>
            </div>
        </div>
        <a class="view-all all-product" href="#">VIEW ALL PRODUCTS<span> </span></a>
    </div>
    <div class="clearfix"> </div>
</div>
