@model IEnumerable<BigShope.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="container">
    <div class="account_grid">
        <h3>SHOPPING CART</h3>
        
        @if (!Model.Any())
        {
            <p>Your cart is empty.</p>
            <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0;
                    }
                    @foreach (var item in Model)
                    {
                        var price = item.Product?.PromotionalPrice ?? item.Product?.Price ?? 0;
                        var subtotal = price * item.Quantity;
                        total += subtotal;
                        
                        <tr>
                            <td>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                                    @item.Product?.Name
                                </a>
                            </td>
                            <td>Rs. @price</td>
                            <td>
                                <form method="post" asp-action="UpdateQuantity" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                                    <input type="number" name="quantity" value="@item.Quantity" min="1" max="@item.Product?.StockQuantity" style="width: 60px;" />
                                    <button type="submit" class="btn btn-sm btn-info">Update</button>
                                </form>
                            </td>
                            <td>Rs. @subtotal.ToString("F2")</td>
                            <td>
                                <form method="post" asp-action="Remove" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
                        <td><strong>Rs. @total.ToString("F2")</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            
            <div style="margin-top: 20px;">
                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>
                <a asp-action="Checkout" class="btn btn-success">Proceed to Checkout</a>
            </div>
        }
    </div>

    <!-- Categories Sidebar -->
    <div class="sub-cate">
        <div class=" top-nav rsidebar span_1_of_left">
            <h3 class="cate">CATEGORIES</h3>
            <ul class="menu">
                <li class="item1"><a href="#">Curabitur sapien<img class="arrow-img" src="~/images/arrow1.png" alt=""/> </a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item2"><a href="#">Dignissim purus <img class="arrow-img " src="~/images/arrow1.png" alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item3"><a href="#">Ultrices id du<img class="arrow-img img-arrow" src="~/images/arrow1.png" alt=""/> </a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails</a></li>
                    </ul>
                </li>
                <li class="item4"><a href="#">Cras iacaus rhone <img class="arrow-img img-left-arrow" src="~/images/arrow1.png" alt=""/></a>
                    <ul class="cute">
                        <li class="subitem1"><a href="#">Cute Kittens </a></li>
                        <li class="subitem2"><a href="#">Strange Stuff </a></li>
                        <li class="subitem3"><a href="#">Automatic Fails </a></li>
                    </ul>
                </li>
                <li>
                    <ul class="kid-menu">
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>
                    </ul>
                </li>
                <ul class="kid-menu">
                    <li><a href="#">Commodo sit</a></li>
                    <li><a href="#">Urna ac tortor sc</a></li>
                    <li><a href="#">Ornared id aliquet</a></li>
                    <li><a href="#">Urna ac tortor sc</a></li>
                    <li><a href="#">Eget nisi laoreet</a></li>
                    <li><a href="#">Faciisis ornare</a></li>
                    <li class="menu-kid-left"><a href="#">Contact us</a></li>
                </ul>
            </ul>
        </div>
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function() {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function(e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });
            });
        </script>
        <div class="chain-grid menu-chain">
            <a href="#"><img class="img-responsive chain" src="~/images/wat.jpg" alt=" " /></a>
            <div class="grid-chain-bottom chain-watch">
                <span class="actual dolor-left-grid">300$</span>
                <span class="reducedfrom">500$</span>
                <h6><a href="#">Lorem ipsum dolor</a></h6>
            </div>
        </div>
        <a class="view-all all-product" href="#">VIEW ALL PRODUCTS<span> </span></a>
    </div>
    <div class="clearfix"> </div>
</div>
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });
            });
        </script>
        <div class="chain-grid menu-chain">
            <a asp-controller="Products" asp-action="Details" asp-route-id="1"><img class="img-responsive chain" src="~/images/wat.jpg" alt=" " /></a>
            <div class="grid-chain-bottom chain-watch">
                <span class="actual dolor-left-grid">300$</span>
                <span class="reducedfrom">500$</span>
                <h6><a asp-controller="Products" asp-action="Details" asp-route-id="1">Lorem ipsum dolor</a></h6>
            </div>
        </div>
        <a class="view-all all-product" asp-controller="Products" asp-action="Index">VIEW ALL PRODUCTS<span> </span></a>
    </div>
    <div class="clearfix"> </div>
</div>
